<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Übersicht</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="districts">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Bezirke</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistik</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
