<ion-header>
  <ion-toolbar>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
      <ion-card-header>
        <ion-card-title>Offenlegung nach §25 Mediengesetz</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 style="color:white;">Medieninhaber, Herausgeber und Eigentümer:</h2>
        Bernhard Auinger<br/>
        A-4303 St. Pantaleon-Erla<br/>
        bernhard@auinger.dev<br/>
        <br/>
        <h2 style="color:white;">Grundlegende Richtung:</h2>
        Diese WebApp wurde im Zuge eines Bachelorprojekts entwickelt und stellt die aktuelle Einsatzsituation der NÖ Feuerwehren dar.<br/>
        Beachten Sie, dass sich aus Informationen zu Einsatzleistungen keinerlei Rückschlüsse auf Schuldfragen und Verursacher ziehen lassen.<br/>
        Diese Daten dienen primär der Information von Entscheidungsträgern, Einsatzkräften und interessierten Bürgern.
        <br/>
        <br/>
        <h2 style="color:white;">Links:</h2>
      </ion-card-content>
      <ion-item href="https://github.com/Bauinger/fireservice-app" target="_blank">
        <ion-icon slot="start" name="logo-github"></ion-icon>
        <ion-label>Repository auf GitHub</ion-label>
      </ion-item>
      <ion-item href="https://auinger.dev" target="_blank">
        <ion-icon slot="start" name="logo-wordpress"></ion-icon>
        <ion-label>Meine Webseite</ion-label>
      </ion-item>
    </ion-card>
</ion-content>
