<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bezirke
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placholder="Suche..." autocomplete="on"  [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let district of districts$ | async | filter : filterTerm" (click)="navigateTo(district.k)">
      <ion-icon *ngIf="bazOnline(district.k) | async" name="power-outline" color="success" slot="start"></ion-icon>
      <ion-icon *ngIf="(bazOnline(district.k) | async) === false" name="power-outline" color="danger" slot="start"></ion-icon>
      <ion-label>{{ district.t }}</ion-label>
      <ion-badge *ngIf="district.e || district.f"  slot="end" [ngClass]="getWarnStateClass(district.z)">
        <span *ngIf="district.f">FW: {{ district.f }}</span>
        <span *ngIf="district.f && district.e">, </span>
        <span *ngIf="district.e">Einsätze: {{ district.e }}</span></ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
